body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #181818;
    height: auto;
}

.header {
    position: fixed;
    background-color: #262626;
    width: 100%;
    height: 113px;
    border-style: hidden;
    right: 0%;
    left: 0%;
    top: 0%;
    box-shadow: 0px 3px 4px;
    z-index: 2;
}

.nav_bar {
    position: relative;
    background-color: #181818;
    border: 0.5px grey;
    border-style: ridge;
    border-radius: 5px;
    width: 604px;
    height: 57px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.feed {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181818;
    border-right: 3px solid #262626;
    border-left: 3px solid #262626;
    width: 604px;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
}

.post,
.create_post {
    position: relative;
    background-color: #262626;
    border-radius: 5px;
    width: 564px;
    margin-bottom: 20px;
}

.post {
    height: 468px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post_votes,
.post_comments,
.post_share,
.post_submit,
.post_photo1,
.post_photo2,
.post_pic {
    position: absolute;
}


.post_votes {
    border: 2px solid #181818;
    background-color: #FCA573;
    border-radius: 10px;
    width: 72px;
    height: 24px;
    z-index: 3;
    bottom: 2%;
    left: 2%;
}

.post_comments {
    border: 2px solid #181818;
    background-color: #FCA573;
    border-radius: 10px;
    width: 72px;
    height: 24px;
    z-index: 3;
    bottom: 2%;
    left: 17%;
}

.post_share {
    border: 2px solid #181818;
    background-color: #FCA573;
    border-radius: 10px;
    width: 72px;
    height: 24px;
    z-index: 3;
    bottom: 2%;
    left: 32%;
}

.post_submit {
    border: 2px solid #181818;
    background-color: #FCA573;
    width: 24px;
    height: 24px;
    z-index: 3;
    bottom: 2%;
    right: 2%;
}

.post_photo1 {
    border: 0.1px solid rgb(0, 0, 0);
    background-color: #ffffff;
    width: 281px;
    height: 292px;
    z-index: 3;
    bottom: 15%;
    left: 0%;
}

.post_photo2 {
    border: 0.1px solid rgb(0, 0, 0);
    background-color: #ffffff;
    width: 281px;
    height: 292px;
    z-index: 3;
    bottom: 15%;
    right: 0%;
}

.post_pic {
    border: 1px solid #181818;
    background-color: #ffffff;
    border-radius: 20px;
    width: 32px;
    height: 32px;
    z-index: 3;
    bottom: 90%;
    left: 2%;
}

.create_post_img,
.create_post_gif,
.create_post_emoji,
.create_post_submit,
.create_post_typebar,
.create_post_pic {
    position: absolute;
}


.create_post {
    position: relative;
    background-color: #262626;
    border-radius: 5px;
    width: 564px;
    height: 139px;
    margin-bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 7%;
    order: -1;
}


.create_post_img {
    position: absolute;
    border: 2px solid #181818;
    background-color: #FCA573;
    border-radius: 10px;
    width: 32px;
    height: 32px;
    z-index: 3;
    bottom: 8%;
    left: 5%;
}

.create_post_gif {
    position: absolute;
    border: 2px solid #181818;
    background-color: #FCA573;
    border-radius: 10px;
    width: 32px;
    height: 32px;
    z-index: 3;
    bottom: 8%;
    left: 15%;
}

.create_post_emoji {
    position: absolute;
    border: 2px solid #181818;
    background-color: #FCA573;
    border-radius: 10px;
    width: 32px;
    height: 32px;
    z-index: 3;
    bottom: 8%;
    left: 25%;
}

.create_post_submit {
    position: absolute;
    border: 2px solid #181818;
    background-color: #FCA573;
    border-radius: 20px;
    width: 84px;
    height: 26px;
    z-index: 3;
    bottom: 8%;
    right: 2%;
}

.create_post_typebar {
    position: absolute;
    border: 0.1px solid grey;
    background-color: #181818;
    border-radius: 20px;
    width: 494px;
    height: 32px;
    z-index: 3;
    bottom: 68%;
    right: 2%;
}

.create_post_pic {
    position: absolute;
    border: 1px solid #181818;
    background-color: #ffffff;
    border-radius: 20px;
    width: 32px;
    height: 32px;
    z-index: 3;
    bottom: 68%;
    left: 2%;
}


.ad_panel {
    background-color: #262626;
    border-radius: 5px;
    width: 251px;
    height: 473px;
    position: fixed;
    top: 16%;
    right: 19%;
}
